/* Muestras para h1 */
    h1 {

        color: #58cf13;


    }


    @media only screen and (min-width: 500px) {

        h1 {

            color: blue;
        }

    }


    @media only screen and (min-width: 800px) {

        h1 {

            color: rgb(255, 0, 0);
        }

    }
